<h1>掲示板</h1>
<h2>カテゴリ</h2>
<ul>
    <li><a href="#">ワンピース</a></li>
    <li><a href="#">進撃の巨人</a></li>
    <li><a href="#">僕のヒーロアカデミア</a></li>
    <li><a href="#">ジョジョの奇妙な冒険</a></li>
    <li><a href="#">トリコ</a></li>
</ul>