<h2>カテゴリ</h2>
<ul>
    <li><a href="/ワンピース">ワンピース</a></li>
    <li><a href="/進撃の巨人">進撃の巨人</a></li>
    <li><a href="/僕のヒーロアカデミア">僕のヒーロアカデミア</a></li>
    <li><a href="/ジョジョの奇妙な冒険">ジョジョの奇妙な冒険</a></li>
    <li><a href="/トリコ">トリコ</a></li>
</ul>
<a href="/logIn">ログイン</a>