<form method="post">
    <label for="inputId">ログインID</label>
    <input type="text" name="id" id="inputId" placeholder="Id">
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <br>
    <button type="submit">ログイン</button>
</form>

<a href="/signUp">新規登録</a>