<form class="form" action="/threadList" method="post">
    <label for="inputTitle">タイトル</label>
    <input class="form-control" type="text" name="title" id="inputTitle" placeholder="Title">
    <label for="inputMessage">メッセージ</label>
    <input type="text" name="message" id="inputMessage" placeholder="Message">
    <br>
    <button type="submit">登録</button>
</form>