<form method="post">
    <label for="inputId">ログインID</label>
    <input type="text" name="id" id="inputId" placeholder="Id">
    <label for="inputName">ユーザー名</label>
    <input type="text" name="name" id="inputName" placeholder="Name">
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <br>
    <button type="submit">登録</button>
</form>